server:
  port: 8080

spring:
  datasource:
    url: jdbc:mysql://localhost:3306/appointment_db
    username: root
    password: Psksql@2004

  jpa:
    show-sql: true
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true
